# Árboles de Regresión

In [1]:
import pandas as pd

In [2]:
data = pd.read_csv("/Users/josemanuelbustos/Desktop/cursos_udemy/python-ml-course-master/notebooks/datasets/boston/Boston.csv")
data.head()

,crim,zn,indus,chas,nox,rm,age,dis,rad,tax,ptratio,black,lstat,medv
0,0.00632,18.0,2.31,0,0.538,6.575,65.2,4.0900,1,296,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0,0.469,6.421,78.9,4.9671,2,242,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0,0.469,7.185,61.1,4.9671,2,242,17.8,392.83,4.03,34.7
3,0.03237,0.0,2.18,0,0.458,6.998,45.8,6.0622,3,222,18.7,394.63,2.94,33.4
4,0.06905,0.0,2.18,0,0.458,7.147,54.2,6.0622,3,222,18.7,396.90,5.33,36.2

In [3]:
data.shape

(506, 14)

In [4]:
colnames = data.columns.values.tolist()
predictors = colnames[:13]
target = colnames[13]
X = data[predictors]
Y = data[target]

In [5]:
from sklearn.tree import DecisionTreeRegressor

In [6]:
regtree = DecisionTreeRegressor(min_samples_split=30, min_samples_leaf=10, max_depth=5, random_state=0)

In [7]:
regtree.fit(X,Y)

DecisionTreeRegressor(ccp_alpha=0.0, criterion='mse', max_depth=5,
                      max_features=None, max_leaf_nodes=None,
                      min_impurity_decrease=0.0, min_impurity_split=None,
                      min_samples_leaf=10, min_samples_split=30,
                      min_weight_fraction_leaf=0.0, presort='deprecated',
                      random_state=0, splitter='best')

In [8]:
preds = regtree.predict(data[predictors])

In [9]:
data["preds"] = preds

In [10]:
data[["preds", "medv"]]

         preds  medv
0    23.787500  24.0
1    23.787500  21.6
2    35.247826  34.7
3    35.247826  33.4
4    35.247826  36.2
..         ...   ...
501  23.787500  22.4
502  23.787500  20.6
503  28.978261  23.9
504  31.170000  22.0
505  23.787500  11.9

[506 rows x 2 columns]

In [13]:
from sklearn.model_selection import KFold
from sklearn.model_selection import cross_val_score
import numpy as np

## Random Forests

In [15]:
from sklearn.ensemble import RandomForestRegressor

In [16]:
forest = RandomForestRegressor(n_jobs=2, oob_score=True, n_estimators=10000)
forest.fit(X,Y)

RandomForestRegressor(bootstrap=True, ccp_alpha=0.0, criterion='mse',
                      max_depth=None, max_features='auto', max_leaf_nodes=None,
                      max_samples=None, min_impurity_decrease=0.0,
                      min_impurity_split=None, min_samples_leaf=1,
                      min_samples_split=2, min_weight_fraction_leaf=0.0,
                      n_estimators=10000, n_jobs=2, oob_score=True,
                      random_state=None, verbose=0, warm_start=False)

In [17]:
data["rforest_pred"]= forest.oob_prediction_
data[["rforest_pred", "medv"]]

     rforest_pred  medv
0       28.345015  24.0
1       22.611746  21.6
2       34.475086  34.7
3       34.726477  33.4
4       34.264402  36.2
..            ...   ...
501     24.306301  22.4
502     18.825110  20.6
503     27.635734  23.9
504     26.140348  22.0
505     20.857836  11.9

[506 rows x 2 columns]

In [18]:
data["rforest_error2"] = (data["rforest_pred"]-data["medv"])**2
sum(data["rforest_error2"])/len(data)

10.137535579610331

In [19]:
forest.oob_score_

0.8799148438916551